*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 100%;
    background-image: url("img/sao-paulo-vira-sede-mundial-para-debate-internacional-sobre-meio-ambiente-seguranca-alimentar-e-habitacao-49c18.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#imgLogo{
    width: 10%;    
}

#btnLogin{
    margin-right: 3%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger ;
    font-weight: 600;
    color: #228B22;
    border: #228B22 solid 1px;
    width: 7%;
    text-align: center;
    border-radius: 4px;
    text-justify: auto;
}

#tituloPag{
    width: 100%;
    display: flex;
    flex-direction: row;
}

h1{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5%;
    color: #fff;
}

#SecNavegacao{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #228B22;
}

#SecNavegacao a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


#secConteudoMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 5%;
    border: 1px #bbbbbb solid;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 3%;
}

.divSobre{
    width: 70%;
    margin-bottom: 6%;
}

h2{
    color: #4d4d4d;
}

.divSobre h2{
    margin-bottom: 2%;
}

.divSobre p{
    margin-bottom: 1%;
    text-align: justify;
}

#LocSobre{
    margin-top: 8px;
    width: 75%;
    border-radius: 5px;
    margin-bottom: 4%;
    box-shadow: 1px 5px 15px #000000;
}


#SecNavegacao2{
    height: 5vh;
    width: 100%;
    background-color: #228B22;
}

footer{
    display: flex;
    height: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#imgLogo2{
    width: 30%;    
}

footer p {
    color: #7a7a7a;
}
